<div class="content-heading">
    <div>
        @Html.ActionLink("Voltar", "Index")
        <hr />
        <small>Você selecionou o terceirizado  <h4>@ViewBag.nome</h4></small>
    </div>
</div>


<div class="card">
    <div class="d-flex">
        <div class="w-50 bb br px-3">
            <div class="d-flex align-items-center justify-content-center">
                <em class="fa fa-user-tag fa-2x text-info"></em>
                <div class="ml-auto">
                    <div class="card-body text-right">
                        <h4 class="mt-0">@Html.ActionLink("Selecionar", "ListarSecretaria", new { id = 3})</h4>
                        <p class="mb-0 text-muted">Secretária</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-50 bb px-3">
            <div class="d-flex align-items-center justify-content-center">
                <em class="fa fa-user-tag fa-2x text-info"></em>
                <div class="ml-auto">
                    <div class="card-body text-right">
                        <h4 class="mt-0">@Html.ActionLink("Selecionar", "ListarSecretaria", new { id = 4 })</h4>
                        <p class="mb-0 text-muted">Prefeitura Bairro</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="w-50 br px-3">
            <div class="d-flex align-items-center justify-content-center">
                <em class="fas fa-user-tag fa-2x text-info"></em>
                <div class="ml-auto">
                    <div class="card-body text-right">
                        <h4 class="mt-0">@Html.ActionLink("Selecionar", "ListarSecretaria", new { id = 5 })</h4>
                        <p class="mb-0 text-muted">GRE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-50 px-3">
            <div class="d-flex align-items-center justify-content-center">
                <em class="fa fa-user-tag fa-2x text-info"></em>
                <div class="ml-auto">
                    <div class="card-body text-right">
                        <h4 class="mt-0">@Html.ActionLink("Selecionar", "ListarSecretaria", new { id = 6 })</h4>
                        <p class="mb-0 text-muted">Escola</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>