@model IEnumerable<PMS.Models.Cargo>

<div class="content-heading">
    <div>
        <button class="mb-1 btn btn-secondary" type="button">@Html.ActionLink("Voltar", "OperacoesTerceirizado")</button>
    </div>
</div>


<div class="card card-default">
    <div class="card-header">Terceirizados</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoCargo.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoCargo.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                           
                            <button class="mb-1 btn btn-outline-success" type="button">@Html.ActionLink("Mostrar", "HistoricoCargo1", new { id = item.CargoId })</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">

        </div>
    </div>
</div>
