@model IEnumerable<PMS.Models.Secretaria>

<div class="content-heading">
    <div>
        <button class="mb-1 btn btn-secondary" type="button">@Html.ActionLink("Voltar", "OperacoesTerceirizado")</button>
    </div>
</div>



<div class="card card-default">
    <div class="card-header">Escolha uma Secretária</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Setor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observacao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Setor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacao)
                        </td>
                        <td>
                            <button class="mb-1 btn btn-outline-primary" type="button"> @Html.ActionLink("Selecionar", "EncaminharSecretaria", new { id = item.SecretariaId })</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">

        </div>
    </div>
