@model PMS.Models.Escola

<div class="content-heading">
    <div>
        <button class="mb-1 btn btn-secondary" type="button">@Html.ActionLink("Voltar", "OperacoesTerceirizado")</button>
    </div>
</div>


<!-- START row-->
<div class="row">
    <div class="col-xl-12">
        <!-- START card-->
        <div class="card card-default">
            <div class="card-header">Terceirizado lotada na Unidade  | @Html.DisplayFor(model => model.Codigo) | @Html.DisplayFor(model => model.Nome)</div>
            <div class="card-body">
                <br />
                <h4>Endereço</h4>
                <address>
                    <strong>Bairro - @Html.DisplayFor(model => model.Bairro)</strong>
                    <br />@Html.DisplayFor(model => model.Logradouro)
                    <br />n° @Html.DisplayFor(model => model.Numero)
                    <br />
                    <abbr title="Phone">Telefone:</abbr>  @Html.DisplayFor(model => model.Tel1) |   @Html.DisplayFor(model => model.Tel2)
                </address>
                <address>
                    <strong>Responsável</strong>
                    <br />  @Html.DisplayFor(model => model.Gestor)
                </address>
            </div>
        </div>
        <!-- END card-->
