@model IEnumerable<PMS.Models.HistoricoStatusOcorrenciaSec>



<div class="card card-default">
    <div class="card-header">@Html.ActionLink("Voltar", "Index")</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusOcorrenciaSec.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observacao)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusOcorrenciaSec.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacao)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">

        </div>
    </div>
