@model IEnumerable<PMS.Models.OcorrenciaSec>


@{
    ViewBag.Title = "Index";

    var lat = ViewBag.Latitude;
    var lo = ViewBag.Longitude;
    var locations = (List<string>)ViewBag.Locations;
}

@section scripts{


    <script>

        function initMap() {
            console.log(parseFloat(@lat));
            console.log(parseFloat(@lo));

            var la = parseFloat(@lat);
            var lo = parseFloat(@lo);
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: la, lng: lo }
            });

            setMarkers(map);
        }
        var loc = @Html.Raw(Json.Encode(locations));
        var marker, i;
        function setMarkers(map) {
            console.log(loc);
            console.log(loc);

            for (var i = 0; i < loc.length; i++) {
                console.log(loc[i])
                var points = loc[i].split('&');
                var lat = parseFloat(points[0]);
                var long = parseFloat(points[1]);
                marker = new google.maps.Marker({
                    position: { lat: lat, lng: long},
                    map: map
                });
                var infowindow = new google.maps.InfoWindow();
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        var points = loc[i].split('&');
                        var lat = parseFloat(points[0]);
                        var long = parseFloat(points[1]);
                        geocoder = new google.maps.Geocoder();
                        geocoder.geocode({ 'location': { lat: lat, lng: long } }, function (results, status) {
                            console.log(i)
                            console.log('{ lat: ' +lat + ', lng:'+ long +'}')
                            console.log(results[0].formatted_address)
                            infowindow.setContent(results[0].formatted_address);
                            infowindow.open(map, marker);
                        });
                    }
                })(marker, i));
            }
        }
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt0pnAgxUq7nEb8SwAzSEgNw_t2zKuLwI&callback=initMap"></script>
}

<div class="row">
    <div class="col-md-12">
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
</div>

<div class="card card-default">
    <div class="card-header">@Html.ActionLink("Voltar", "Index")</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DescricaoOcorrenciaSec.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Secretaria.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoOcorrenciaSec.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.longitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.logradouro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoOcorrenciaSec.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Secretaria.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoOcorrenciaSec.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.logradouro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bairro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">

        </div>
    </div>
