@model IEnumerable<PMS.Models.OcorrenciaGre>

<div class="content-heading">
    <div>
        | @Html.ActionLink("Tipo", "Index", "TipoOcorrenciaGre") | @Html.ActionLink("Descrição Ocorrência", "Index", "DescricaoOcorrenciaGre") | @Html.ActionLink("Status", "Index", "StatusOcorrenciaGre")
    </div>
</div>




<div class="card card-default">
    <div class="card-header">@Html.ActionLink("Nova Ocorrência", "Create")</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DescricaoOcorrenciaGre.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gre.Regional)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoOcorrenciaGre.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoOcorrenciaGre.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gre.Regional)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoOcorrenciaGre.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.OcorrenciaGreId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.OcorrenciaGreId }) |
                            @Html.ActionLink("Mapa", "ViewMapa") |
                            @Html.ActionLink("Add Status", "SalvarHistoricoStatus", new { id = item.OcorrenciaGreId }) |
                            @Html.ActionLink("Historico", "HistoricoStatus", new { id = item.OcorrenciaGreId }) |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">

        </div>
    </div>
