@model PMS.Models.Cargo

<div class="content-heading">
    <div>
       Tem certeza que deseja deletar esse item ?
    </div>
    <div class="btn-group ml-auto">
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCargo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCargo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> 
        </div>
    }
</div>
