@model PMS.Models.HistoricoStatusOcorrenciaPB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistoricoStatusOcorrenciaPB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OcorrenciaPB.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OcorrenciaPB.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOcorrenciaPB.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOcorrenciaPB.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HistoricoStatusOcorrenciaPBId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
