@model IEnumerable<PMS.Models.HistoricoStatusOcorrenciaPB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OcorrenciaPB.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOcorrenciaPB.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OcorrenciaPB.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOcorrenciaPB.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoricoStatusOcorrenciaPBId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoricoStatusOcorrenciaPBId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoricoStatusOcorrenciaPBId })
        </td>
    </tr>
}

</table>
