@model IEnumerable<PMS.Models.Terceirizado>

<div class="content-heading">
    <div>
        Operações Terceirizados |   @Html.ActionLink("Listar Encaminhamentos ", "ListarEncaminhamentos")
    </div>
</div>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.TerceirizadoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.TerceirizadoId }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.TerceirizadoId }) |
                @Html.ActionLink("Histórico ", "Delete", new { id = item.TerceirizadoId }) |
              
            </td>
        </tr>
    }

</table>
