@model PMS.Models.OcorrenciaEscola

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OcorrenciaEscola</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoOcorrenciaEscola.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoOcorrenciaEscola.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escola.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escola.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOcorrenciaEscola.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOcorrenciaEscola.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoOcorrenciaEscola.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOcorrenciaEscola.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OcorrenciaSecId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
