<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        <div class="user-block-picture">
                            <div class="user-block-status">
                                <img src="~/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                                <div class="circle bg-success circle-lg"></div>
                            </div>
                        </div>
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            @*<span class="user-block-name">Hello, Mike</span>
                        <span class="user-block-role">Designer</span>*@
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                <span>Menu de Navegação</span>
            </li>
            <li class="">
                <a href="#Terceirizado" title="Dashboard" data-toggle="collapse">
                    <em class="icon-people"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Pessoas</span>
                </a>
                <ul id="Terceirizado" class="sidebar-nav sidebar-subnav collapse">
                    <li class=""> @Html.ActionLink("DashBoard", "Index", "DashBoard")</li>
                    <li class=""> @Html.ActionLink("Operações", "Index", "Terceirizado1")</li>
                </ul>
            </li>
            <li class="">
                <a href="#dashboard" title="Dashboard" data-toggle="collapse">
                    <em class="icon-location-pin"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Ocorrência</span>
                </a>
                <ul id="dashboard" class="sidebar-nav sidebar-subnav collapse">
                    <li class=""> @Html.ActionLink("DashBoard", "Index", "Manutencao")</li>
                    <li class=""> @Html.ActionLink("Secretária", "Index", "OcorrenciaSec")</li>
                    <li class=""> @Html.ActionLink("Prefeitura Bairro", "Index", "OcorrenciaPB")</li>
                    <li class=""> @Html.ActionLink("Gre", "Index", "OcorrenciaGre")</li>
                    <li class=""> @Html.ActionLink("Escola", "Index", "OcorrenciaEscola")</li>
                </ul>
            </li>
            <li class="">
                <a href="#configuracao" title="Dashboard" data-toggle="collapse">
                    <em class="icon-settings"></em>
                    <span data-localize="sidebar.nav.DASHBOARD">Configuração</span>
                </a>
                <ul id="configuracao" class="sidebar-nav sidebar-subnav collapse">
                    <li class=""> @Html.ActionLink("Secretária", "Index", "Secretaria")</li>
                    <li class=""> @Html.ActionLink("Prefeitura Bairro", "Index", "PrefeituraBairro")</li>
                    <li class=""> @Html.ActionLink("GRE", "Index", "Gre")</li>
                    <li class=""> @Html.ActionLink("Escola", "Index", "Escola")</li>
                    <li class=""> @Html.ActionLink("Prestadora de Serviço", "Index", "PrestadoraServico")</li>
                    <li class=""> @Html.ActionLink("Tipo de Cargo", "Index", "TipoCargo")</li>
                    <li class=""> @Html.ActionLink("Cargo", "Index", "Cargo")</li>
                    <li class=""> @Html.ActionLink("Ocorrência", "Index", "Ocorrencia")</li>
                    <li class=""> @Html.ActionLink("Lotação", "Index", "TipoLotacao")</li>
                    <li class=""> @Html.ActionLink("Terceirizado", "Index", "Terceirizado")</li>
                    <li class=""> @Html.ActionLink("Definir QTD de Terceirizado por Unidade", "Contact", "Home")</li>
                    <li class=""> @Html.ActionLink("Usuários", "Index", "Users")</li>
                </ul>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
