@model IEnumerable<PMS.Models.Encaminhamento>

@{
    ViewBag.Title = "CartaEncaminhamento";
}

<h2>CartaEncaminhamento</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Terceirizado.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoLotacao.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotacaoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Terceirizado.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoLotacao.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotacaoId)
        </td>
        <td>
            @Html.ActionLink("Visualizar", "ImpCartaEncaminhamento", new { id=item.EncaminhamentoId }) 
        </td>
    </tr>
}

</table>
