@model IEnumerable<PMS.Models.OcorrenciaPB>



<p>
    @Html.ActionLink("Criar Nova Ocorrência", "Create") |
    @Html.ActionLink("Visualizar Ocorrência", "VisualizarOcorrencia", new { id = ViewBag.PrefeituraID})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoOcorrenciaPB.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrefeituraBairro.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoOcorrenciaPB.Tipo)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoOcorrenciaPB.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrefeituraBairro.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoOcorrenciaPB.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OcorrenciaPBId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OcorrenciaPBId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OcorrenciaPBId })
        </td>
    </tr>
}

</table>
