@model IEnumerable<PMS.Models.Secretaria>


<div class="content-heading">
    <div>
    </div>
    <div class="btn-group ml-auto">
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Setor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.ActionLink("Selecionar", "ConfirmarEncaminhamento", new { id = item.SecretariaId })
            </td>
        </tr>
    }

</table>
